<ion-header>
  <ion-navbar>
    <ion-title>Formulários</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item (click)="abrirExemploTDF()">Template Driven Form</button>
    <button ion-item (click)="abrirExemploRF()">Reactive Forms</button>
  </ion-list>
</ion-content>
