<ion-header>
  <ion-navbar>
    <ion-title>Template Driven Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form #form="ngForm">
    <ion-list>

      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="produto.nome" name="nome" #nome="ngModel" required minlength="2" nomeValidator></ion-input>
      </ion-item>
      <ion-item *ngIf="nome.invalid && (nome.dirty || nome.touched)" color="danger">
        <p *ngIf="nome.errors.required">
          Nome é obrigatório.
        </p>
        <p *ngIf="nome.errors.minlength">
          Nome precisa ter no mínimo 2 caracteres.
        </p>
        <p *ngIf="nome.errors.nomeValidator" text-wrap>
          Nome não pode ser Hambúrguer, Refrigerante ou Batata.
        </p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Descrição</ion-label>
        <ion-textarea [(ngModel)]="produto.descricao" name="descricao" #descricao="ngModel" required minlength="2"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)" color="danger">
        <p *ngIf="descricao.errors.required">
          Descrição é obrigatório.
        </p>
        <p *ngIf="descricao.errors.minlength">
          Descrição precisa ter no mínimo 2 caracteres.
        </p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Categoria</ion-label>
        <ion-select [(ngModel)]="produto.categoria" name="categoria">
          <ion-option value="1" selected="true">Hambúrguer</ion-option>
          <ion-option value="2">Refrigerante</ion-option>
          <ion-option value="3">Batata</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Preço</ion-label>
        <ion-input type="number" [(ngModel)]="produto.preco" name="preco" #preco="ngModel" required precoValidator></ion-input>
      </ion-item>
      <ion-item *ngIf="preco.invalid && (preco.dirty || preco.touched)" color="danger">
        <p *ngIf="preco.errors.required">
          Preço é obrigatório.
        </p>
        <p *ngIf="preco.errors.precoValidator" text-wrap>
          O preço deve ser entre 0,01 e 20,00.
        </p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Data de cadastro</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Ok" [(ngModel)]="produto.dataCadastro"
          name="dataCadastro" #dataCadastro="ngModel" required></ion-datetime>
      </ion-item>
      <ion-item *ngIf="dataCadastro.invalid && (dataCadastro.dirty || dataCadastro.touched)" color="danger">
        <p *ngIf="dataCadastro.errors.required">
          Data de cadastro é obrigatória.
        </p>
      </ion-item>

      <ion-list radio-group [(ngModel)]="produto.tamanho" name="tamanho">
        <ion-list-header>
          Tamanho
        </ion-list-header>

        <ion-item>
          <ion-label>Pequeno</ion-label>
          <ion-radio value="p"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Médio</ion-label>
          <ion-radio value="m"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Grande</ion-label>
          <ion-radio value="g"></ion-radio>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label>Ativo</ion-label>
        <ion-checkbox checked="true" [(ngModel)]="produto.ativo" name="ativo"></ion-checkbox>
      </ion-item>

    </ion-list>

    <button ion-button block (click)="salvar()" [disabled]="!form.form.valid">Salvar</button>
  </form>
</ion-content>
